.header {
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    height: 551px;
    background-size: 40%;

}

.secondary-bg {
    background-color: #FFF8F3;
}

.btm-primary {
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0%;
}

nav {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 0 200px;
}

.text-primary {
    color: #FD6E0A;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav ul li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

.nav-title {
    font-weight: 800px;
    font-size: 30px;
}

/* banner style */
.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: bottom;
}

.banner-content {
    max-width: 800px;

}

.banner-greeting {
    font-size: 25px;
    font-weight: 600;

}

.banner-title {
    font-weight: bold;
    font-size: 45px;
}


.banner-profile-pic {
    width: 400px;
    position: relative;
    bottom: 38px;
}

/* main section */
main section {
    margin-top: 130px;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

/* About section styles */

.about {
    border-radius: 10px;
    background: rgb(255, 248, 243);
    padding: 100px;
    /* margin: 100px ; */

}

.about-content-continer {
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    text-align: center;
    margin-left: 10px;
}

.about-info-containar {
    display: flex;
    justify-content: space-around;

}

.about-info {
    text-align: center;
}
/* resume style */
.section-title{
    text-align: center;
}
.resume-containar{
    display: flex;
    gap: 50px;
}
.download-cv{
    text-align: center;
    margin: 50px;
}

/* footer style */

.footer {
    display: flex;
    background: rgb(255, 248, 243);
    margin-top: 100px;
    padding: 130px 200px;
    gap: 100px;

}

.footer-column {
    width: 50%;
}

.social-link {
    display: flex;
    gap: 25px;
}

.contact input[type="text"],
.contact input[type="email"],
textarea {
    border-radius: 5px;
    background: rgb(255, 255, 255);
    display: block;
    padding: 15px 30px;
    margin-bottom: 20px;

}
.contact input[type="text"],
.contact input[type="email"],
textarea {
    width: 80%;
}